---
layout: "layouts/base.njk"
pagination:
    data: collections.post 
    size: 6
    reverse: true
    alias: posts
title: blog
order: 100
---

<div class="main-content container m-auto" id="blog-main">
    <nav aria-labelledby="blog-pagination" id="blog-pagination" 
    class="container-fluid row row-cols-1 row-cols-md-2 gx-4 mx-auto">
        <ul>
            <li class="previous pagination">
                {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}">
                    <i class="bi-box-arrow-left"></i>
                </a>
                {% else %}
                <p class="disabled">
                    <i class="bi-box-arrow-left"></i>
                </p>
                {% endif %}
            </li>
            {%- for pageEntry in pagination.pages %}
            <li class="page-number {% if page.url==pagination.hrefs[ loop.index0 ] %}active{% endif %}">
                <a href="{{ pagination.hrefs[ loop.index0 ] }}"
                {% if page.url==pagination.hrefs[ loop.index0 ] %}
                    aria-current="page" {% endif %}>
                    {{ loop.index }}
                </a>
            </li>
            {%- endfor %}
            <li class="next pagination">
                {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}">
                    <i class="bi-box-arrow-right"></i>
                </a>
                {% else %}
                <p class="disabled">
                    <i class="bi-box-arrow-right"></i>
                </p>
                {% endif %}
            </li>
        </ul>
    </nav>

    <div id="posts-view-list" class="row row-cols-1 row-cols-md-2 g-4">
        {%- for post in posts  %}
            <div class="col-lg-4 col-md-6 col-sm-12 card-group">
                <div class="card shadow-md">
                    <img src="https://picsum.photos/seed/{{
                        [0, 1,2,3,4,5,6,7,8,9] | random
                        }}{{
                            [0, 1,2,3,4,5,6,7,8,9] | random
                        }}{{
                            [0,1,2,3,4,5,6,7,8,9] | random
                        }}/500/300" 
                        class="img-fluid blog-native" />
                    <div class="card-img-overlay">
                        <div class="card-title">
                            <h3>{{ post.data.title }}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="align-self-center">{{ post.content | safe | excerpt }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ post.url }}" class="btn btn-outline-primary rounded-2 float-end">Read More</a>
                        <div class="mb-1 text-muted">{{ post.date | readableDate }}</div>
                    </div>
                </div>
            </div>
        {%- endfor %}
    </div>

</div>
