---
layout: "layouts/landing.njk"
title: Home
---

{# {% include "partials/promo_cybermonday.njk" %} #}
<div id="corporate-image" class="main-content">
    {# {% include "partials/logo_landing.njk" %} #}
    {% include "partials/title_landing.njk" %}
    {% include "partials/services_cards.njk" %}
</div>