<div id="carousel-container" class="container-fluid main-content">
    <div id="carousel" class="container-fluid carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="caroussel-inner">
            <div class="carousel-item active">
                <img src="assets/img/promo/pietro-jeng-n6B49lTx7NM-unsplash-4K.jpg" class="d-block w-100" alt="Akelalleure jugant amb lona">
                <div class="carousel-caption">
                    <h2>CYBERMONDAY</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi temporibus asperiores, quibusdam nemo autem porro modi sed perferendis mollitia perspiciatis quos expedita! Commodi, sint omnis. Officia recusandae animi rerum distinctio.</p>
                    <button role="button" class="btn btn-primary">BOTON</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/promo/anas-alshanti-feXpdV001o4-unsplash-4K.jpg" class="d-block w-100" alt="AkelaLleure al Riu">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>