<div class="logo d-none d-md-block">
    <img id="logo" src="/assets/img/logokapua_black@4x.png" 
    alt="Kapua Logo Big">
</div>
<div class="logo d-md-none">
    <img id="logo" src="/assets/img/logokapua_black@1x.png" alt="Kapua Logo Small">
</div>