<div class="partial services our-services" id="our-services">
    <div id="services-cards" class="services-cards container">
        <div class="d-lg-flex m-auto">
            <div class="d-md-flex mb-xl-0 mb-md-5 m-auto">
                <div class="col1 me-md-4 mb-md-0 mb-5">
                    <div class="card pb-4">
                        <span class="fas fa-tachometer-alt mt-3 service-icon"></span>
                        <p class="h4 pt-4">WPO</p>
                        <p class="p1 text-muted">
                            Lorem deserunt labore irure laboris duis ea sit consequat ea excepteur minim do exercitation reprehenderit.
                        </p>
                        <a href="/wpo/" class="service-link fas fa-arrow-right">
                        </a>
                    </div>
                </div>
                <div class="col2 me-md-4 mb-md-0 mb-5">
                    <div class="card pb-4 ">
                        <span class="fas fa-funnel-dollar mt-3 service-icon"></span>
                        <p class="h4 pt-4">FinOps</p>
                        <p class="p1 text-muted">
                            Reprehenderit officia aliquip enim enim tempor adipisicing.
                        </p>
                        <a href="/finops/" class="service-link fas fa-arrow-right">
                        </a>
                    </div>
                </div>
                <div class="col3 me-md-4 mb-md-0 mb-5">
                    <div class="card pb-4">
                        <span class="fas fa-seedling mt-3 service-icon"></span>
                        <p class="h4 pt-4">Growth Partner</p>
                        <p class="p1 text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, reiciendis.
                        </p>
                        <a href="/growth-partner/" class="service-link fas fa-arrow-right">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container col4 m-auto">
                <div class="content">
                    <span class="h-6">¿Otras consultas?</span>
                    <p class=" h2 mb-0">Servicios Web y Cloud</p>
                    <p class="text-muted mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora dignissimos nostrum nesciunt quo! Quo, eveniet! Labore maxime aut saepe, ab architecto tempore nulla, omnis excepturi, porro explicabo perferendis eum qui laborum laudantium tenetur molestiae totam.</p>
                    <p>
                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ContactFormModal">¡Consúltanos!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
{% include "partials/form_modal.njk" %}