<footer class="c-sitefooter" id="main-footer" >
    <div id="footer-container" class="container-md row col-lg-10 m-auto main-content">
        <div class="container-md row first-footer">

        </div>
        <div class="container-md row last-footer text-center">
            <p class="text-center"><span>&copy;{{ page.date.getFullYear() }}</span> KapuaOPS</p>
        </div>
    </div>
</footer>