<div class="logo d-none d-md-block">
    <div id="text-branding">
        <p id="corpo-name" class="title name">
            KapuaOPS
        </p>
        <p id="corpo-motto" class="motto title">
            <span>
                facilitating your Cloud journey
            </span>
        </p>
    </div>
</div>
<div class="logo d-md-none">
    <div id="text-branding">
        <p id="corpo-name" class="title name">
            KapuaOPS
        </p>
        <p id="corpo-motto" class="motto title">
            <span>
                facilitating your Cloud journey
            </span>
        </p>
    </div>
</div>